<li class="card">
    {% if destination.photo %}
        <img class="card-photo" src="{{ destination.photo.url }}" alt="Photo : {{ destination.name }}" loading="lazy">
    {% endif %}
    <h3><a href="{% url 'destination_detail' destination.pk %}">{{ destination.name }}</a></h3>
    {% if show_country %}<p>{{ destination.country.name }}</p>{% endif %}
    <p>{% include "reviews/_summary.html" with summary=destination.rating_summary %}</p>
    {% if destination.ideal_period %}
        <p>Période idéale : {{ destination.ideal_period }}</p>
    {% endif %}
    {% if destination.price_from is not None %}
        <p>À partir de {{ destination.price_from }} €</p>
    {% endif %}
</li>
