{% if user.est_client %}
    {% if est_favori %}
        <form method="post" action="{% url 'retirer_favori' type_element objet.pk %}">
            {% csrf_token %}
            <input type="hidden" name="suivant" value="{{ request.path }}">
            <button type="submit" class="bouton-secondaire">★ Retirer de mes favoris</button>
        </form>
    {% else %}
        <form method="post" action="{% url 'ajouter_favori' type_element objet.pk %}">
            {% csrf_token %}
            <input type="hidden" name="suivant" value="{{ request.path }}">
            <button type="submit">☆ Ajouter à mes favoris</button>
        </form>
    {% endif %}
{% endif %}
